.wrapper {
    display: flex;
    width: 400px;
    height: 400px;
}

.wrapper:hover {
    background-color: red;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.two {
    margin-left: auto;
}